div{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
button{
    background-color: green;
    color: white;   
}
button:hover{
    background-color: #ff0000;
    color: white;
}